@import "./colors.scss";
@import "./normalize.css";
@import "./font.scss";

*,
::after,
::before
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hidden {
  opacity: 0 !important;
  visibility: hidden;
}

html, body, #root, .App
{
    height: 100%;
    background: $greenColor;
}

body
{
    margin: 0;
    font-family:    'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
                    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    line-height: 1.36;
    font-size: 400;
}

