@font-face
{
    font-family: 'Avenir';
    src: local('Avenir-Light'), url('../fonts/AvenirLTStd-Light.otf');
    font-style: normal;
    font-weight: 100;
}
@font-face
{
    font-family: 'Avenir';
    src: local('Avenir-Book'), url('../fonts/AvenirLTStd-Book.otf');
    font-style: normal;
    font-weight: 200;
}
@font-face
{
    font-family: 'Avenir';
    src: local('Avenir-Roman'), url('../fonts/AvenirLTStd-Roman.otf');
    font-style: normal;
    font-weight: 300;
}
@font-face
{
    font-family: 'Avenir';
    src: local('Avenir-Medium'), url('../fonts/AvenirLTStd-Medium.otf');
    font-style: normal;
    font-weight: 400;
}
@font-face
{
    font-family: 'Avenir';
    src: local('Avenir-Heavy'), url('../fonts/AvenirLTStd-Heavy.otf');
    font-style: bold;
    font-weight: 600;
}
@font-face
{
    font-family: 'Avenir';
    src: local('Avenir-Black'), url('../fonts/AvenirLTStd-Black.otf');
    font-style: bold;
    font-weight: 700;
}
