@import "./colors.scss";

nav.list
{
    background: $purpleColor;
    border-bottom-left-radius: 32px;
    border-top-left-radius: 32px;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-top: 32px;
}
